= render 'shared/header'
.user-edit
  .user-edit__title
    %h2
      アカウント設定
  .user-edit__contents
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
      = devise_error_messages!
      .field
        = f.label :nickname, 'ニックネーム'
        = f.text_field :nickname, autoforcus: true
      .field
        = f.label :note_id, 'note ID'
        = f.text_field :note_id
      .field
        = f.label :prifile, 'プロフィール'
        = f.text_field :profile
      .field
        = f.label :email, 'メールアドレス'
        = f.email_field :email
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}
      .field
        = f.label :password, '新しいパスワード(変更しない場合は空欄にしてください)'
        = f.password_field :password, autocomplete: "off"
      .field
        = f.label :password_confirmation, 'もう一度入力してください'
        = f.password_field :password_confirmation, autocomplete: "off"
      .field
        = f.label :current_password, '現在のパスワード'
        = f.password_field :current_password, autocomplete: "off"
      .actions
        = f.submit "変更を保存する"
    -# %p
    -#   #{button_to "キャンセル", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
    -# = link_to "Back", :back
