%header
  %nav
    %ul.top-menu
      %li.top-menu__logo
        = image_tag 'logo.svg'
      %li.top-menu__search
        %i.fa.fa-search
      %li.top-menu__notification
        %i.fa.fa-bell-o
      %li.top-menu__user
        = image_tag 'prof.jpg'
      %li.top-menu__post
        %i.fa.fa-pencil-square-o ノートを投稿

.contents
  .content
    .content__user.clearfix
      .content__user__avatar
        = image_tag 'prof.jpg'
      .content__user__name
        のぐエモン
      .content__user__time
        2017/05/22 11:44
    .content__article
      .content__article__image
        = image_tag 'sample.jpeg'
      .content__article__title
        今日のご飯
      .content__article__body
        %p
          【今週の目次】
        %p
          1.白米
        %p
          2.焼き鮭
        %p
          3.サラダ
        %p
          4.サラダ２
        %p
          5.サラダ
        %p
          6.サラダ
        %p
          7.サラダ
        %p
          8.サラダ
        %p
          9.サラダ
        %p
          10.サラダ
        %p
          11.サラダ
        %p
          12.サラダ
        %p
          13.サラダ
        %p
          14.サラダ
      .content__article__more
        %a{href: '/'}
          もっとみる
  .content
    .content__user.clearfix
      .content__user__avatar
        = image_tag 'prof.jpg'
      .content__user__name
        のぐエモン
      .content__user__time
        2017/05/22 11:44
    .content__article
      .content__article__image
        = image_tag 'sample.jpeg'
      .content__article__title
        今日のご飯
      .content__article__body
        %p
          【今週の目次】
        %p
          1.白米
        %p
          2.焼き鮭
        %p
          3.サラダ
        %p
          4.サラダ２
        %p
          5.サラダ
        %p
          6.サラダ
        %p
          7.サラダ
        %p
          8.サラダ
        %p
          9.サラダ
        %p
          10.サラダ
        %p
          11.サラダ
        %p
          12.サラダ
        %p
          13.サラダ
        %p
          14.サラダ
      .content__article__more
        %a{href: '/'}
          もっとみる
  .content
    .content__user.clearfix
      .content__user__avatar
        = image_tag 'prof.jpg'
      .content__user__name
        のぐエモン
      .content__user__time
        2017/05/22 11:44
    .content__article
      .content__article__image
        = image_tag 'sample.jpeg'
      .content__article__title
        今日のご飯
      .content__article__body
        %p
          【今週の目次】
        %p
          1.白米
        %p
          2.焼き鮭
        %p
          3.サラダ
        %p
          4.サラダ２
        %p
          5.サラダ
        %p
          6.サラダ
        %p
          7.サラダ
        %p
          8.サラダ
        %p
          9.サラダ
        %p
          10.サラダ
        %p
          11.サラダ
        %p
          12.サラダ
        %p
          13.サラダ
        %p
          14.サラダ
      .content__article__more
        %a{href: '/'}
          もっとみる

  .more
    もっとみる
%footer
  .footer
    noteプレミアム  クリエイターの方へ  よくある質問使い方  プライバシー  ご利用規約  運営会社  運営へのお問合せ
