.note-wrapper
  = render 'shared/header'
  .note
    .note__image
      = article_image(@article)
    .note__user
      .note__user__avatar
        = link_to user_path(@user.id) do
          = image_tag 'prof.jpg'
      .note__user__name
        = link_to user_nickname(@user), user_path(@user.id)
      .note__user__time-and-delete
        .time
          = @article.created_at
        .delete
          = delete(@user, @article)
      = edit(@user)
    .note__article
      .note__article__title
        %h1
          = @article.title
      .note__article__body
        = simple_format(@article.body)
    .note__author
      = render 'shared/user-info'
  = render 'shared/footer'
