.note-wrapper
  = render 'shared/header'
  .note
    .note__image
      = article_image(@article)
    .note__user
      .note__user__avatar
        = link_to user_avatar(@article), user_path(@article.user)
      .note__user__name
        = link_to user_nickname(@article.user), user_path(@article.user)
      .note__user__time-and-delete
        .time
          = @article.created_at
        .delete
          = delete(@article)
      = edit(@article.user)
    .note__article
      .note__article__title
        %h1
          = @article.title
      .note__article__body
        = simple_format(@article.body)
    .note__author
      .user-info__header__profile
        .user-info__header__profile__avatar
          = link_to user_path(@article.user) do
            = user_avatar(@article.user)
        .user-info__header__profile__name
          = link_to user_path(@article.user) do
            = user_nickname(@article.user)
        .user-info__header__profile__introduction
          = user_profile(@article.user)
  = render 'shared/footer'
