.note-wrapper
  = render 'shared/header'
  .note
    .note__image
      = image_tag 'sample.jpg'
    .note__user
      .note__user__avatar
        = link_to user_path(current_user.id) do
          = image_tag 'prof.jpg'
      .note__user__name
        = link_to @nickname, user_path(current_user.id)
      .note__user__time
        2017/05/22 11:44
    .note__article
      .note__article__title
        %h1
          Mr.Childrenについて語れる幾つかのこと②
      .note__article__body
        さて、『深海』にて「アナログ」音楽への欲望を表明した彼らは、その後、「アナログ」に徹して音楽を続けたかと言えば、そんなことはありませんでした。
        CDは相変わらず出していますし、ライブDVDの発売、WEBにて配信を行う等、「デジタル」な世界での活動を結局は続けることとなります。
        一見「アナログ」への欲望は既に断ち切ってしまったかのようにも見えます。
        しかし、私が思うに、それは違うと思います。
        むしろ、ミスチルの音楽には常に「アナログ」の亡霊がつきまとっていたのだとすら感じます。

        「ウジウジ系主人公」
        なぜそう思うのでしょうか。
        多少強引に考えることが許されるのであれば、私はそれを歌詞の中に読み取ってしまうからです。
        ミスチルの歌詞に頻繁に出てくる、いわゆる「ウジウジ系主人公」という形を取って――。
        どういうことでしょうか？
        ミスチルの歌詞には、ウジウジとした、どっちつかずな主人公がよく登場します。
        例えば「つよがり」などどうでしょうか？
        蚊の泣くような頼りない声で
        君の名前を読んでみた
        孤独な夜を越えて　真直ぐに
        向き合ってよ　抱き合ってよ　早く
        あるいは、「HERO」。
        例えば誰か一人の命と
        引き換えに世界を救えるとして
        僕は誰かが名乗り出るのを待っているだけの男だ

        例を挙げれば枚挙に暇がありませんが、とにかく上記のようにウジウジと頼りなく、それでいてどっちつかずな主人公が多いのです。
        なぜこんなにもミスチルの「僕」達はウジウジとしているのでしょうか？
        先に記した通り、多少強引な読解が許されるのであれば、これはまさに「アナログ」の亡霊が歌詞の主人公に取り憑いているからなのではないでしょうか？
        つまり、＜0か1か＞という明確な選択を可能にする「デジタル」的な思考を奪い、＜0にも1にも＞なれない「アナログ」な思考を強制する――。
        ミスチルにおける「ウジウジ系主人公」は、この「アナログ」の亡霊に常に取り憑かれているが故にウジウジしているのだと、私はそう考えます。

        「アナログ」という憧れを捨てて
        だからこそ『[(an imitation) blood orange]』における「イミテーションの木」は、私の耳には非常に象徴的に聞こえました。
        「デジタル」音楽（＝イミテーションの木）も良しとし、「アナログ」音楽への思い（＝向こう岸に捨てた憧れ）は既に過去のものだと宣言しているかのようです。
        そのように考えると、次のアルバム『REFLECTION』が、通常のCD版とは別にUSB版も発売されたという事実が、意義深いものにも見えてきます。
        さらに言えば、『REFLECTION』は「ROLLIN' ROLLING ～一見は百聞に如かず」や「街の風景」を聞けばわかるように、若者に向けたある種のメッセージソングが収録されています。
        このことは、逆に言えば「我々はもう若くはない」というメッセージの裏返しでもあります。
        「FIGHT　CLUB」でも「自分は特別だって言い聞かせた」若かりし日の自分を思い出しながらも、最後には「俺たちはもう特別じゃない」と歌っています。
        そして、「未完」――未完などという言葉は、ある程度完成されているから出てくる言葉です。
        「イミテーションの木」の歌詞を思い起こせば、「アナログ」音楽への思いは「青臭い恋」だと――つまり、思春期（＝動物的な衝動に支配される幼児と、理性的な秩序に生きる大人との間の時期＝どっちつかずの、アナログな状態）に抱える悶々とした恋心のようなものだと言っています。
        彼らは「アナログ」の亡霊との決別に成功したと、『REFLECTION』では言っているのではないでしょうか？
        そしてそれは同時に、「我々はもう若くはない」＝「思春期の恋のような、アナログな歌はもう歌えない」ということをも意味しているのかもしれません。
        だとすれば、今後ミスチルはどのような曲を作り続けるのでしょうか――？
        どんなものであれ――例え私たちが好きな「アナログ」の亡霊が既に気配を潜めていたとしても――、＜0と1＞では判断できない感動が私たちを包んでくれることは、間違いないはずです。
        彼らが「未完」であることは、彼ら自身が宣言しているのですから･･････。
    .note__author
      = render 'shared/user-info'
  = render 'shared/footer'
