= render 'shared/header'
.user-info
  .user-info__header
    .user-info__header__image
      = head_image(@user)
    = render 'shared/user-info'
.contents
  = render partial: "shared/article", collection: @articles
= render 'shared/footer'
