.content
  .content__user.clearfix
    .content__user__avatar
      = link_to user_path(article.author) do
        = user_avatar(article.author)
    .content__user__name
      = link_to user_nickname(article.author), user_path(article.author)
    .content__user__time
      = link_to article.created_at, article_path(article)
  .content__article
    .content__article__image
      = article_image(article)
    .content__article__title
      = link_to article.title, article_path(article)
    .content__article__body
      = simple_format(truncate(article.body, length: 192))
    .content__article__more
      = display_more?(article)
