.contents
  .content
    .content__user.clearfix
      .content__user__avatar
        = link_to user_path(current_user.id) do
          = image_tag 'prof.jpg'
      .content__user__name
        = link_to @nickname, user_path(current_user.id)
      .content__user__time
        = link_to '2017/05/22 11:44', article_path(1)
    .content__article
      .content__article__image
        = link_to article_path(1) do
          = image_tag 'sample.jpg'
      .content__article__title
        = link_to '今日のご飯', article_path(1)
      .content__article__body
        %p
          【今週の目次】
        %p
          1.白米
        %p
          2.焼き鮭
        %p
          3.サラダ
        %p
          4.サラダ２
        %p
          5.サラダ
        %p
          6.サラダ
        %p
          7.サラダ
        %p
          8.サラダ
        %p
          9.サラダ
        %p
          10.サラダ
        %p
          11.サラダ
        %p
          12.サラダ
        %p
          13.サラダ
        %p
          14.サラダ
      .content__article__more
        = link_to 'もっとみる', article_path(1)
  .more
    もっとみる
